 <div class="modal-header">
            <h3>Edit</h3>
        </div>
        <div class="modal-body">
          <div>name: <input type="text" ng-model="tracker.name" value="{{tracker.name}}"></input></div>
          <div>client: <input type="text" ng-model="tracker.client" value="{{tracker.client}}"></input></div>
          <div>time: <input type="text" ng-model="tracker.time" value="{{tracker.time}}"></input></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-danger" ng-click="delete()">Delete</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

